replicaCount: 1

image:
  repository: aisalkyn85/manual-app
  tag: "${10}"
  pullPolicy: Always

service:
  type: NodePort
  port: 3000

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3

